.App {
  text-align: center;
  background-image: url('../public/h3.jpg');
  height:100vh;
  color: #2c3658 !important;
  font-family: 'nunito', sans-serif;
}
h1, h2, h3, h4{
  color: #1e3992 !important;
}
/* width */
::-webkit-scrollbar {
  
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #94cbff23;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7789c783;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #99aae279;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3600s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
